<div>
    <br /><br /><p><b>Cadastro de empresas</b></p><br />
    <div id="formCadastro">
        <form name="Cadastro">
            <div class="form-group" ng-class="{ 'has-error': Cadastro.nome.$dirty && Cadastro.nome.$error.required }">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" ng-model="Empresa.Nome" maxlength="100" required />
                <span class="text-danger" ng-show="Cadastro.nome.$touched && Cadastro.nome.$invalid">Este campo é obrigatorio.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': Cadastro.local.$dirty && Cadastro.local.$error.required }">
                <label for="local">Local</label>
                <input type="text" name="local" id="local" class="form-control" ng-model="Empresa.Local" maxlength="100" required />
                <span class="text-danger" ng-show="Cadastro.local.$touched && Cadastro.local.$invalid">Este campo é obrigatorio.</span>
            </div>
        </form>
        <br />
        <input type="button" class="btn btn-default" value="Salvar" ng-click="atualizarEmpresa()" ng-disabled="Cadastro.$invalid" />
        <input type="button" class="btn btn-danger" value="Cancelar" ng-click="window.location.reload()" />
    </div>

    <div ng-if="listaDeEmpresas" class="table-responsive">
        <br /><p><b>Lista de empresas</b></p>
        <table class="table">
            <thead>
                <tr>
                    <td><b>Nome</b></td>
                    <td><b>Local</b></td>
                    <td><b>Visualizar</b></td>
                </tr>
            </thead>
            <tr ng-repeat="emp in lstEmpresas">
                <td>{{emp.Nome}}</td>
                <td>{{emp.Local}}</td>
                <td><button type="button" id="update" ng-click="visualizarEmpresa($index, 'update')" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></td>
            </tr>
        </table>
    </div>
</div>