<div>
    <br /><br /><p><b>Relatorios</b></p><br />
    <form name="RelatorioFunc">
        <div class="form-group" ng-class="{ 'has-error': RelatorioFunc.funcionario.$dirty && RelatorioFunc.funcionario.$error.required }">
            <label for="funcionario">Funcionario</label>
            <select required name="funcionario" ng-model="Parametro.IdFuncionario" class="form-control">
                <option ng-repeat="func in lstFuncionarios" value="{{func.IdFuncionario}}">{{func.Nome}}</option>
            </select>
            <span class="text-danger" ng-show="RelatorioFunc.funcionario.$dirty && RelatorioFunc.funcionario.$error.required">Selecione uma opção.</span>
        </div>
        <input type="button" class="btn btn-default" value="Buscar" ng-click="relatorioPorFuncionario()" ng-disabled="RelatorioFunc.$invalid" />
    </form>

    <br /><br />
    <form name="RelatorioEmp">
        <div class="form-group" ng-class="{ 'has-error': RelatorioEmp.empresa.$dirty && RelatorioEmp.empresa.$error.required }">
            <label for="empresa">Empresa</label>
            <select required name="empresa" ng-model="Parametro.IdEmpresa" class="form-control">
                <option ng-repeat="emp in lstEmpresas" value="{{emp.IdEmpresa}}">{{emp.Nome}} - {{emp.Local}}</option>
            </select>
            <span class="text-danger" ng-show="RelatorioEmp.empresa.$dirty && RelatorioEmp.empresa.$error.required">Selecione uma opção.</span>
        </div>
        <input type="button" class="btn btn-default" value="Buscar" ng-click="relatorioPorEmpresa()" ng-disabled="RelatorioEmp.$invalid" />
    </form>

    <br /><br />
    <form name="RelatorioMesAno">
        <div class="form-group" ng-class="{ 'has-error': RelatorioMesAno.mes.$dirty && RelatorioMesAno.mes.$error.required }">
            <label for="mes">Mes</label>
            <select required name="mes" ng-model="Parametro.Mes" class="form-control">
                <option ng-repeat="mes in Meses" value="{{$index+1}}">{{mes}}</option>
            </select>
            <span class="text-danger" ng-show="RelatorioMesAno.mes.$dirty && RelatorioMesAno.mes.$error.required">Selecione uma opção.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': RelatorioMesAno.ano.$dirty && RelatorioMesAno.ano.$error.required }">
            <label for="ano">Ano</label>
            <select required name="ano" ng-model="Parametro.Ano" class="form-control">
                <option ng-repeat="ano in Anos" value="{{ano}}">{{ano}}</option>
            </select>
            <span class="text-danger" ng-show="RelatorioMesAno.ano.$dirty && RelatorioMesAno.ano.$error.required">Selecione uma opção.</span>
        </div>
        <input type="button" class="btn btn-default" value="Buscar" ng-click="relatorioPorMesAno()" ng-disabled="RelatorioMesAno.$invalid" />
    </form>

    <br /><br />
    <form name="RelatorioAno">
        <div class="form-group" ng-class="{ 'has-error': RelatorioAno.ano.$dirty && RelatorioAno.ano.$error.required }">
            <label for="ano">Ano</label>
            <select required name="ano" ng-model="Parametro.PorAno" class="form-control">
                <option ng-repeat="ano in Anos" value="{{ano}}">{{ano}}</option>
            </select>
            <span class="text-danger" ng-show="RelatorioAno.ano.$dirty && RelatorioAno.ano.$error.required">Selecione uma opção.</span>
        </div>
        <input type="button" class="btn btn-default" value="Buscar" ng-click="relatorioPorAno()" ng-disabled="RelatorioAno.$invalid" />
    </form>

    <br />
    <div ng-if="listaDeRelatorios" class="table-responsive">
        <br /><p><b>Lista de relatorios</b></p>
        <table class="table">
            <thead>
                <tr>
                    <td><b>Nome</b></td>
                    <td><b>Empresa</b></td>
                    <td><b>Data</b></td>
                    <td><b>Inicio</b></td>
                    <td><b>Termino</b></td>
                </tr>
            </thead>
            <tr ng-repeat="relatorio in lstRelatorios">
                <td>{{relatorio.funcionario.Nome}}</td>
                <td>{{relatorio.empresa.Nome}}</td>
                <td>{{relatorio.Data | date : 'dd/MM/yyyy'}}</td>
                <td>{{relatorio.HorarioInicio}}</td>
                <td>{{relatorio.HorarioTermino}}</td>
            </tr>
        </table>
    </div>
</div>